body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0a2c56;
  color: white;
  padding: 1rem;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

.filtros-bloco {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-top: 1rem;
  text-align: center;
}

.filtros-bloco h2 {
  color: #0a2c56;
}

.filtros-card {
  max-width: 400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filtros-card select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.filtros-card button#btn-pesquisar {
  background-color: #0a2c56;
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.filtros-card button#btn-pesquisar:hover {
  background-color: #083052;
}

#postos-container, #posto-mais-proximo {
  padding: 2rem 1rem 1rem 1rem;
  text-align: left;
}

.posto {
  background: #fff;
  border-left: 4px solid #0a2c56;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  border-radius: 6px;
}

.map-container {
  height: 400px;
  margin: 2rem auto;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#btn-mais-proximo {
  background-color: #0a2c56;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
}

#btn-mais-proximo:hover {
  background-color: #093253;
}

.localizacao-obtida {
  background-color: #e7f5ff;
  border-left: 6px solid #0a2c56;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 400px;
  text-align: center;
  font-size: 1rem;
  color: #004080;
}

footer {
  background-color: #0a2c56;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
}

.footer-contact {
  font-size: 1rem;
  margin-top: 1rem;
  color: #d4d4d4;
}

.footer-contact p {
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer-contact i {
  color: #ffffff;
}

.botao-leia-mais {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: #0a2c56;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 1rem;
}

.botao-leia-mais:hover {
  background-color: #093253;
}

@media (max-width: 600px) {
  .topnav .nav-center {
    display: none;
  }
  .topnav .icon {
    display: block;
  }
}

