body {
  font-family: sans-serif;
  margin: 0;
  background-color: #eef6fb;
}

header {
  background-color: #0074cc;
  color: white;
  padding: 1rem;
  text-align: center;
}

.filtros {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.map-container {
  height: 400px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#postos-container {
  padding: 20px;
}
